<section class="content">
  <div class="page-header">
    <h1>List of Harvest</h1>
  </div>

  <div class="list-group">
    <a ng-repeat="harvest in vm.harvests"
       ui-sref="harvests.edit({ harvestId: harvest._id })"
       class="list-group-item">
      <!--<small class="list-group-item-text">
        Posted on
        <span ng-bind="farmpro.created | date:'mediumDate'"></span>
        by
        <span ng-if="farmpro.user" ng-bind="farmpro.user.displayName"></span>
        <span ng-if="!farmpro.user">Deleted User</span>
      </small>-->
      <h4 class="list-group-item-heading">{{harvest.planningdate}}&nbsp&nbsp -- &nbsp&nbsp  Yield(Actual/Expected): {{harvest.harvestyield}}/{{harvest.planyield}}</h4>
      <!--<h4 class="list-group-item-heading">From {{crop.startdate}} to {{crop.stopdate}}</h4>-->
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.harvests.$resolved && !vm.harvests.length">
    No Harvest yet, why don't you <a ui-sref="harvests.create">create one</a>?
  </div>
</section>
